body {
  height: 100vh;
}

.main-display {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.btn {
  background-color: black;
  color: white;
  width: 20rem;
  height: 2rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}

.inputBox {
  width: 20rem;
  height: 2rem;
  margin-top: 0.5rem;
}

.second-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 20rem;
}

.datainfo {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.clickBtn {
  background-color: black;
  color: white;
  height: 10rem;
  width: 15rem;
}

.timer {
  background-color: red;
  margin-bottom: 1rem;
  padding: 1rem;
  color: white;
}

.nombre {
  margin-bottom: 1rem;
  padding: 1rem;
  color: black;
  border: 1px solid red;
}

.countClicks {
  margin-bottom: 1rem;
  padding: 1rem;
  color: black;
  border: 1px solid red;
}
